.feedback-section {
	width: 770px;
	height: auto;
	display: block;
}

.input-text, .input-url, .input-email {
	margin-bottom: 20px;
}

.input-multiline {
	margin-bottom: 37px;
}

.form-naming {
	margin-left: 30px;
}