	.menu-list {
		position: relative;
		list-style: none;
	}
	
	.menu-list .menu-item {
		display: inline-block;
		border-radius: 5px;
		text-align: center;
		width: auto;
		height: 30px;
	}
	
	.menu-item .link {
		box-sizing: border-box;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		padding: 10px 20px;
		line-height: 30px;
	}
	
	.link:hover {
		background-color: #e8645a;
		border-radius: 5px;
		border-bottom: 3px solid #e2534b;
	}
	
	.current:visited {
		background-color: #76c7c0;
		border-bottom: 3px solid #528b86;
	}