.expandable-box {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	height: 50px;
	width: 100%;
	background: #f8f8f8;
	box-shadow: 0 4px 4px #e5e6e6;
	border-radius: 5px;
	padding: 0 20px 0 22px;
}

.expandable-box::before {
	content: '';
	position: absolute;
	right: 20px;
	top: 18px;
	background: url(expandable-box-plus.png) no-repeat 0 0;
	height: 18px;
	width: 18px;
	border-radius: 9px;
}

.expandable-box.expanded::before {
	content: '';
	position: absolute;
	right: 20px;
	top: 18px;
	background: url(expandable-box-minus.png) no-repeat 0 0;
	height: 18px;
	width: 18px;
	border-radius: 9px;
}

.expandable-box.expanded {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	height: 120px;
	width: 100%;
	background: #f8f8f8;
	box-shadow: 0 4px 4px #e5e6e6;
	border-radius: 5px;
	padding: 0 20px 0 22px;
}

.accordion-title {
	position: absolute;
	height: 50px;
	width: 100%;
	font-weight: 800;
	font-size: 16px;
	line-height: 50px;
	text-transform: uppercase;
	color: #7f8c8c;
}

.expandable-box .text-message {
	display: none;
}

.expandable-box.expanded .text-message {
	display: initial;
	position: relative;
	top: 50px;
	font-size: 13px;
	line-height: 1.6em;
	height: 70px;
	width: auto;
}