.expandable-box {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	min-height: 50px;
	width: 100%;
	background: #f8f8f8;
	box-shadow: 0 4px 4px #e5e6e6;
	border-radius: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}

.expandable-box.expanded {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	min-height: 120px;
	width: 100%;
	background: #f8f8f8;
	box-shadow: 0 4px 4px #e5e6e6;
	border-radius: 5px;
	overflow: visible;
	padding-bottom: 60px;
}

.expandable-box .accordion-title {
	padding-left: 22px;
	padding-right: 0;
	text-align: left;
	outline: none;
	border: none;
	background-color: #f8f8f8;
	position: absolute;
	height: 50px;
	width: 100%;
	font-weight: 800;
	font-size: 16px;
	line-height: 50px;
	text-transform: uppercase;
	color: #7f8c8c;
}

.expandable-box .accordion-title::after {
	content: '';
	position: absolute;
	right: 20px;
	top: 18px;
	background: url(expandable-box-plus.png) no-repeat 0 0;
	height: 18px;
	width: 18px;
	border-radius: 9px;
}

.expandable-box.expanded .accordion-title::after {
	content: '';
	position: absolute;
	right: 20px;
	top: 18px;
	background: url(expandable-box-minus.png) no-repeat 0 0;
	height: 18px;
	width: 18px;
	border-radius: 9px;
}

.expandable-box .text-message {
	display: none;
}

.expandable-box.expanded .text-message {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding-left: 22px;
	text-align: left;
	top: 50px;
	font-size: 13px;
	line-height: 1.6em;
	min-height: 30px;
	width: auto;
}