.feature-item {
	padding: 0;
	margin: 30px; /* used just for example in ui-kit.vue */
	width: 270px;
	background-color: #f8f8f8;
	display: inline-block;
	vertical-align: top;
	border-bottom: solid 4px #e5e6e6;
	text-align: center;
	border-radius: 5px;
	height: 340px;
}

.feature-item-content {
	margin-top: 50px;
	height: 260px;
}

.feature-item-content span {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #777;
	margin: 35px 15px 0;
	line-height: 21px;
}

.feature-item-content h4 {
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 19px;
	margin-top: 10px;
}