.feature-item {
	padding: 0;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
	width: 270px;
	height: 340px;
	background-color: #f8f8f8;
	border-bottom: solid 4px #e5e6e6;
	text-align: center;
	border-radius: 5px;
}

.feature-item-content {
	margin-top: 50px;
	height: 260px;
}

.feature-item-content > .feature-item-description {
	display: inline-block;
	font-size: 13px;
	color: #777;
	margin: 35px 27px 0;
	line-height: 21px;
}

.feature-item-content > .feature-item-heading {
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 19px;
}

.feature-item .image-content {
	margin: 0 0 15px;
	display: inline-block;
	vertical-align: middle;
	width: inherit;
	height: auto;
	transform: translateY(+50%);
	overflow: inherit;
}