.tab-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tab-item {
	display: inline-block;
	margin-right: 12px;
	cursor: pointer;
	font-size: 16px;
	color: #2c2c2c;
	text-transform: uppercase;
	background-color: #62b9b0;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	border-radius: 5px 5px 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

.tab-item a {
	color: #fff;
	text-decoration: none;
}

li.selectedMenuItem, li.selectedMenuItem:hover {
	font-weight: bold;
	background-color: #f8f8f8;
}

.selectedMenuItem a {
	color: #a2aaaa;
}

.menuItem {
	display: block;
	height: 50px;
	line-height: 50px;
}

.tab-item:hover {
	color: #fff;
	background-color: #e2534b;
}