.link-external {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding-left: 40px;
	line-height: 40px;
	text-decoration: none;
	height: 40px;
	width: auto;
	max-width: 1000px;
	font-size: 20px;
	color: #7f8c8c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link-external::before {
	content: '';
	background: url(link-external-green.png);
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
}

.link-external:hover {
	color: #e2534b;
}

.link-external:hover::before {
	content: '';
	background: url(link-external-red.png);
}

.link-external.empty {
	margin-right: 10px;
}