.content-wrapper {
	max-width: 1170px;
	margin: auto;
	position: relative;
}

@media (max-width: 1200px) {
	.content-wrapper {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}
}