  /*	PORTFOLIO 	*/

.tag-item-portfolio {
	margin-bottom: 40px;
}

.pagination-portfolio {
	margin-top: 70px;
	margin-left: 250px;
	margin-bottom: 70px;
}

.teaser-item-portfolio {
	margin-bottom: 38px;
}

<<<<<<< HEAD

/*	CONTACTS 	*/
=======
.blog-side-bar-right {
	position: absolute;
	right: 0;
	top: 0;
}

>>>>>>> f74279857acb6eaf11b814b2b71737b79984b5bb
