/*	PORTFOLIO 	*/

.tag-item-portfolio {
	margin-bottom: 40px;
}

.pagination-portfolio {
	margin-top: 70px;
	margin-left: 250px;
	margin-bottom: 70px;
}

.teaser-item-portfolio {
	margin-bottom: 38px;
}


/* BLOG */

.blog-side-bar-right {
	position: absolute;
	right: 0;
	top: 0;
}

@media (max-width: 1300px) {
	.blog-side-bar-right {}
}

@media (max-width: 850px) {
	.blog-top-bar {
		margin-bottom: 200px;
	}
}


/*	CONTACTS 	*/

.page-contacts-paragraph {
	border-radius: 5px;
	background: #ececec;
	padding: 11px 20px 5px;
	margin-bottom: 60px;
}

.contacts-h {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 60px;
}

.address-content {
	position: absolute;
	left: 900px;
	font-size: 20px;
}

.form-h {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 60px;
}


/* H1 IN TOP BAR */

.naiming-top-bar {
	margin-left: 0;
	margin-top: 25px;
}

.tabs {
	margin-top: 50px;
	margin-bottom: 50px;
}