@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('OpenSansRegular'), url('/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('/fonts/OpenSansRegular/OpenSansRegular.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('OpenSansSemiBold'), url('/fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'), url('/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('OpenSansBold'), url('/fonts/OpenSansBold/OpenSansBold.woff') format('woff'), url('/fonts/OpenSansBold/OpenSansBold.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('OpenSansExtraBold'), url('/fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'), url('/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('OpenSansItalic'), url('/fonts/OpenSansItalic/OpenSansItalic.woff') format('woff'), url('/fonts/OpenSansItalic/OpenSansItalic.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('OpenSansSemiBoldItalic'), url('/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff') format('woff'), url('/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('OpenSansBoldItalic'), url('/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff') format('woff'), url('/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('OpenSansExtraBoldItalic'), url('/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff') format('woff'), url('/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf') format('ttf');
	unicode-range: U+000-5FF;
	/* Latin glyphs */
}

* {
    margin: 0;
    padding: 0;
}


body {
	background: #f3f3f3;
	color: rgb(119, 119, 119);
	cursor: default;
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 21px;
}

a {
	color: #e1524b;
	line-height: 25px;
	text-decoration: underline;
}

a:hover {
	color: #bc4742;
}

p {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-style: normal;
	color: #7f8c8c;
	line-height: 1.6em;
	margin-bottom: 20px;
}

h1 {
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-weight: 600;
	font-size: 20pt;
	font-style: normal;
	line-height: 24pt;
	color: #7f8c8c;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-weight: 600;
	font-size: 24pt;
	font-style: normal;
	line-height: 21pt;
	color: #76c7c0;
	margin: 0;
}

h3 {
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-weight: 700;
	font-size: 20pt;
	font-style: normal;
	line-height: 24pt;
	color: #000;
	margin: 0;
}

h4 {
	font-family: 'Open Sans', sans-serif, 'PT Sans', Helvetica, 'Roboto', Arial;
	font-weight: 600;
	font-size: 20pt;
	font-style: normal;
	line-height: 24pt;
	color: #7f8c8c;
	margin: 0;
}

hr {
	color: #e5e6e6;
	line-height: 3px;
	border: none;
}

blockquote {
	border-left: 5px solid #7f8c8c;
	margin-left: 70px;
	padding-left: 25px;
	font-size: 14px;
}