.search-box {
	position: relative;
	display: block;
	height: 85px;
	width: 200px;
	padding: 0;
	margin-bottom: 20px;
}

.search-box button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: url(search-box-button.png) no-repeat;
	height: 34px;
	width: 34px;
	outline: none;
	border: none;
}

.search-box .search-box-input {
	display: none;
	position: absolute;
	left: -165px;
	bottom: 0;
	background: url(search-box-bg.png) no-repeat;
	width: 100%;
	height: 46px;
}

.search-box .search-box-input.shown {
	display: block;
}

.search-box input {
	box-sizing: border-box;
	position: relative;
	top: 11px;
	left: 5px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	outline: none;
	border: none;
	height: 30px;
	width: 190px;
	border-radius: 2px;
}

.search-box button:active {
	transform: translateY(1px);
}