.search-box {
	position: relative;
	right: 0;
	height: 85px;
	width: 200px;
	background-color: blue;
}

.search-box-button{
	position: absolute;	
	background: url(search-box-button.png) 50% 50% no-repeat;
	height: 34px;
	width: 34px;
	right: 0;
	top: 0;
}

.search-box-input{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
}