.tag-footer {
      bottom: 0;
      width: 100%;
      height: 350px;
	  background: url(./footer-border.png) repeat-x;
	  background-color: #76c7c0;
}

.tag-footer .tag-content {
	  display: flex;
      justify-content: center;
	  flex-direction: row;
	  align-items: center;
}



.tag-footer .tag-coll {
      height: 250px;
      width: 370px;
	  padding-right: 30px;
	  margin-top: 50px;
}

.tag-footer .tag-content-coll1 {
      background: url(./page-logo/modus.png) no-repeat;
      
}

.tag-footer .tag-content-coll1 .text {
      padding-top: 50px;
      color: #ffffff;
      font-size: 13px;
      padding-bottom: 30px;
}



.tag-footer .tag-content-coll1 .phone {
      word-spacing: 20px;
      color: #ffffff;
      font-size: 20px;
      margin-bottom: 7px;
}

.tag-footer .tag-content-coll1 .phone:last-child {
      
}

.tag-footer .tag-content-coll1 .mail {
      word-spacing: 20px;
      color: #ffffff;
      font-size: 20px;
}


.tag-footer .tag-content-coll2 {
      color: #ffffff;
}

.tag-footer .tag-content-coll2 .companymain{
      display: flex;
      vertical-align: top;
}

.tag-footer .tag-content-coll2 .company {
      margin-top: -1px;
      padding-left: 10px;
      color: #777777;
      font-size: 20px;
}
.tag-footer .tag-content-coll2 .company1 {
      font-size: 13px;
      padding-top: 37px;
      margin-left: -105px;
	  list-style-type: none;
}

.tag-footer .tag-content-coll2 .community {
	  margin-left: 20px;
      font-size: 20px;
      margin-top: -1px;
      padding-left: 60px;
      color: #777777;
}

.tag-footer .tag-content-coll2 .community1 {
      font-size: 13px;
      margin-left: -125px;
      padding-top: 37px;
	  list-style-type: none;
}

.tag-footer .tag-content-coll2 .companymenu {
      word-spacing: 7px; 
      
}

.tag-footer .tag-content-coll2 .communitymenu {
      word-spacing: 7px;
}

.tag-footer .tag-content-coll3 {
      color: #ffffff;
      background: url(./fromtheBLOG.png) no-repeat;
	  
}

.tag-footer .tag-content-coll3 .image1 img{
      float: left;
      height: 70px;
      width: 70px;
      overflow: hidden;
      margin-right: 15px;
      
}

.tag-footer .tag-content-coll3 .imageblog {
      margin-top: 45px; 
}

.tag-footer .tag-content-coll3 .text {
      margin-top: 35px; 
}


.tag-footer .tag-content-coll3 .image2 img{
      float: left;
      height: 70px;
      width: 70px;
      overflow: hidden;
      margin-right: 15px;
      
}

.tag-footer .tag-bottom-line {
      width: 100%;
	  height: 50px; 
	  background-color: #6ab3ac;
	  padding-top: 14px;
	  margin-top: 50px;
}

.tag-footer .tagpicture {
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	  align-items: center;
}

.tag-footer .tag-bottom-line .ModusVersus {
	  margin-left: -25px;
	  font-size: 12px;
      color: #ffffff;
	  margin-right: 903px;
}
.tag-footer .tag-bottom-line .logopicture{
      display: flex;
	  
}
.tag-footer .tag-bottom-line .facebook {
      width: 21px;
      height: 21px;
      overflow: hidden;
}
.tag-footer .tag-bottom-line .google {
      width: 21px;
      height: 21px;
      overflow: hidden;
	  margin-left: 27px;
}
.tag-footer .tag-bottom-line .twetter {
      width: 21px;
      height: 21px;
      overflow: hidden;
	  margin-left: 27px;
}
.tag-footer .tag-bottom-line .rss {
      width: 21px;
      height: 21px;
      overflow: hidden;
	  margin-left: 27px;
      
}
