.blog-post-header {
	position: relative;
	max-width: 900px;
	min-height: 70px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.blog-post-header div {
	display: inline-block;
}

.blog-post-header .blog-title {
	font-weight: 600;
	margin-left: 100px;
	max-width: 800px;
}

@media (max-width: 850px) {
	.blog-post-header .blog-title {
		margin-left: -20px;
	}
	.blog-post-header .datum-header {
		display: block;
		margin-left: 0;
	}
	.blog-post-header .category::before {
		margin-left: 0;
	}
}

.blog-post-header .datum-header {
	margin-left: 100px;
	margin-top: 10px;
	margin-right: 5px;
}

.blog-post-header .category::before {
	content: url(./icon-design.png);
	margin-left: 30px;
	margin-right: 5px;
}

.blog-post-header .comments::before {
	content: url(./icon-comments.png);
	margin-left: 30px;
	margin-right: 5px;
}

.blog-post-header a {
	text-decoration: none;
}