.button-control {
	background: #76caca;
	color: white;
	height: 50px;
	width: auto;
	padding: 0 50px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 4px #62bdbd;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.button-control:hover {
	background: #e8645a;
	box-shadow: 0 4px #e2534b;
}

.button-control:active {
	box-shadow: 0 3px #e2534b;
	transform: translateY(3px);
}