.teaser-item {
	position: relative;
	min-height: 270px;
}

.teaser-item > .teaser-text {
	margin-bottom: 50px;
	margin-left: 600px;

}

.teaser-item > h4 {
	margin-left: 600px;
}

.teaser-item > .link-external {
	font-weight: 600;
	margin-left: 600px;
}

.teaser-item > .button-control {
	position: absolute;
	right: 0;
}

.teaser-item > .teaser-img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	height: 270px;
	width: 570px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 30px;
	border-bottom: solid 3px #e5e6e6;
}