.teaser-item {
	position: relative;
	height: 270px;
}

.teaser-item > .teaser-text {
	margin-bottom: 50px;
}

.teaser-item > h4 {
	font-weight: 600;
}

.teaser-item > .link-external {
	font-weight: 600;
	position: absolute;
	left: 600px;
}

.teaser-item > .button-control {
	position: absolute;
	right: 0;
}

.teaser-item > .teaser-img {
	display: block;
	float: left;
	height: 270px;
	width: 570px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 30px;
	border-bottom: solid 3px #e5e6e6;
}