.mainmenu .itemmenu {
	margin-right: 20px;
	font-size: 14px;
	line-height: 30px;
	background: #98a3a3;
	border-bottom: 3px solid #7f8c8c;
	border-radius: 4px;
	display: inline-block;
}

.mainmenu .tagitem {
	display: inline-block;
}

.mainmenu a{
	list-style: none;
	text-decoration: none;
	color: #ffffff;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 6px;
    padding-top: 6px;
}

.mainmenu a:hover {
	color: #ffffff;
	background: #e8645a;
	border-bottom: 3px solid #e2534b;
	border-radius: 4px;
}

.mainmenu .itemmenu:nth-child(5) {
	background-color: #62a29e;
	border-bottom: 3px solid #528b86;
}
