.tag-item .item-menu {
	margin-right: 20px;
	font-size: 14px;
	line-height: 30px;
	background: #98a3a3;
	border-bottom: 3px solid #7f8c8c;
	border-radius: 4px;
	display: inline-block;
}

.tag-item .tag-design {
	display: inline-block;
}

.tag-item a{
	list-style: none;
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 6px;
    padding-top: 6px;
}

.tag-item a:hover {
	color: #ffffff;
	background: #e8645a;
	border-radius: 4px;
	box-shadow: 0 3px #e2534b;
}

.tag-item .logo {
    background: #e8645a;
	border-bottom: 3px solid #e2534b;
}

.tag-item .item-menu:nth-child(5) {
	background-color: #62a29e;
	border-bottom: 3px solid #528b86;
}
