.tag-item {
	background: #98a3a3;
	border-bottom: 3px solid #7f8c8c;
	border-radius: 4px;
	font-size: 19px;
	font-weight: 600;
	display: inline-block;
	line-height: 30px;
	margin-bottom: 37px;
	margin-right: 20px;
	text-transform: uppercase;
}

.tag-item a {
	color: #fff;
	display: block;
	line-height: 30px;
	list-style: none;
	padding-left: 11px;
	padding-right: 13px;
	text-decoration: none;
}

.tag-item a:hover {
	background: #e8645a;
	border-radius: 4px;
	box-shadow: 0 3px #e2534b;
	color: #fff;
}

.tag-item a:active {
	background: #62a29e;
	box-shadow: 0 3px #528b86;
}
