.page-header {
	height: 80px;
	width: 100%;
	position: relative;
	background-image: url(./bg-header.png);
	background-repeat: repeat-x;
	background-color: #76c7c0;
}

.header-logo {
	position: absolute;
	top: 25px;
	left: 130px;
}

.header-menu {
	position: absolute;
	left: 300px;
}

.header-search {
	position: absolute;
	top: 20px;
	left: 1150px;
}