.page-header {
	height: 80px;
	width: 100%;
	position: relative;
	background-image: url(./bg-header.png);
	background-repeat: repeat-x;
	background-color: #76c7c0;
	z-index: 1;
}

.header-logo {
	position: absolute;
	top: 25px;
	left: 3px;
}

.header-menu {
	position: absolute;
	left: 183px;
}

.header-search {
	position: absolute;
	top: 20px;
	left: 1050px;
}