.page-header {
	height: 80px;
	width: 100%;
	position: relative;
	background-image: url(./index.png);
	background-repeat: repeat-x;
	background-color: #76c7c0;
}

.header-logo {
	position: absolute;
	top: 25px;
	left: 100px;
}

/*.search-header {
	position: absolute;
	top: 25px;
	right: 100px;
}*/