.tile-medium {
	background-color: #f8f8f8;
	display: inline-block;
	vertical-align: top;
	width: 370px;
	height: 270px;
	border-radius: 6px;
	margin: 0 27px 37px 0;
	text-align: center;
	border-bottom: solid 3px #e5e6e6;
	font-size: 0;
	z-index: 0;
}

.tile-medium:hover {
	display: inline-block;
	background-color: #83ccc5;
	transition-duration: 0.3s;
}

.tile-medium-hover {
	z-index: 1;
	margin-top: 110px;
	display: none;
	width: 100%;
}

.tile-medium-content {
	height: 100%;
}

.tile-medium:hover .tile-medium-hover {
	text-align: center;
	display: inline-block;
}

.tile-medium-hover button {
	padding: 0;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	background: url(./images/eye.png);
}

.tile-medium-hover .tile-medium-text {
	text-align: center;
	font-size: 16px;
	color: white;
	position: relative;
	top: 60px;
}

.tile-medium-content:hover .image-content {
	display: none;
}
/* .tile-medium:nth-child(3n+3){
	margin-right: 0;
} */