
.page-footer {
      bottom: 0;
      width: 100%;
      height: 350px;
	  background: url(./page-png/footer-border.png) repeat-x;
	  background-color: #76c7c0;
}

.page-footer .page-content {
	  display: flex;
      justify-content: center;
	  flex-direction: row;
	  align-items: center;
}



.page-footer .tag-coll {
      height: 250px;
      padding-right: 30px;
	  margin-top: 50px;
}

.page-footer .page-content-coll1 {
      background: url(./page-logo/modus.png) no-repeat;
      width: 400px;
}

.page-footer .page-content-coll1 .text {
      padding-top: 50px;
      color: #ffffff;
      font-size: 13px;
      padding-bottom: 30px;
}



.page-footer .page-content-coll1 .phone {
	  color: #ffffff;
      font-size: 20px;
      margin-bottom: 7px;
	  display: flex;
}

.page-footer .page-content-coll1 .phone1 {
	   margin-right: 20px;
}

.page-footer .page-content-coll1 .digits {
	   word-spacing: 5px
}


.page-footer .page-content-coll1 .phone:last-child {
      
}

.page-footer .page-content-coll1 .mail {
      word-spacing: 20px;
      color: #ffffff;
      font-size: 20px;
}


.page-footer .page-content-coll2 {
      color: #ffffff;
	  width: 400px;
}

.page-footer .page-content-coll2 .companymain{
      display: flex;
      vertical-align: top;
}

.page-footer .page-content-coll2 .company {
      margin-top: -1px;
      padding-left: 10px;
      color: #777777;
      font-size: 20px;
}
.page-footer .page-content-coll2 .company1 {
      font-size: 13px;
      padding-top: 37px;
      margin-left: -105px;
	  list-style-type: none;
}

.page-footer .page-content-coll2 .community {
	  margin-left: 20px;
      font-size: 20px;
      margin-top: -1px;
      padding-left: 60px;
      color: #777777;
	  margin-left: 14px;
}

.page-footer .page-content-coll2 .community1 {
      font-size: 13px;
      margin-left: -125px;
      padding-top: 37px;
	  list-style-type: none;
}

.page-footer .page-content-coll2 .companymenu {
      word-spacing: 7px; 
      
}

.page-footer .page-content-coll2 .communitymenu {
      word-spacing: 7px;
}



.page-footer .blog {
	  color: #ffffff;
	  font-size: 20px;
	  padding-bottom: 24px;
}

.page-footer .page-content-coll3 .image1 img{
      float: left;
      height: 70px;
      width: 70px;
      overflow: hidden;
      margin-right: 15px;
      
}

.page-footer .page-content-coll3 .imageblog {
      margin-top: 5px; 
	  width: 370px;
}

.page-footer .page-content-coll3 .text {
      margin-top: 35px; 
	  color: #ffffff;
}

.page-footer .page-content-coll3 .text1 {
	  color: #ffffff;
}



.page-footer .page-content-coll3 .image2 img{
      float: left;
      height: 70px;
      width: 70px;
      overflow: hidden;
      margin-right: 15px;
      
}

.page-footer .page-bottom-line {
      width: 100%;
	  height: 50px; 
	  background-color: #6ab3ac;
	  padding-top: 14px;
	  margin-top: 50px;
}

.page-footer .tagpicture {
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	  align-items: center;
	  margin-top: 7px;
}

.page-footer .page-bottom-line .ModusVersus {
	  position: relative;
	  font-size: 12px;
      color: #ffffff;
	  margin-right: 1072px;
}
.page-footer .page-bottom-line .logopicture{
      display: flex;
	  
}
.page-footer .page-bottom-line .facebook {
      width: 21px;
      height: 21px;
      overflow: hidden;
	  position: relative;
	  right: 142px;
}
.page-footer .page-bottom-line .google {
      width: 21px;
      height: 21px;
      overflow: hidden;
      position: relative;
	  right: 94px;
}
.page-footer .page-bottom-line .twetter {
      width: 21px;
      height: 21px;
      position: relative;
	  right: 47px;
}
.page-footer .page-bottom-line .rss {
      width: 21px;
      height: 21px;
      position: relative;
	  right: 0;
      
}
