.main-menu-bg1{
  background-color: blue;
}

.main-menu-bg2{
  background-color: yellow;
}

.main-menu-bg p {
  font-size: 14px;
  font-style:italic;  
  margin-top: 0;
  margin-bottom: 0;
}

.main-menu-bg1 p{
  color: yellow;
}
.main-menu-bg2 p{
  color: blue;
}