.top-bar {
	background-color: #ececec;
	overflow: hidden;
	height: 93px;
	width: 100%;
	position: relative;
	background: url(./bg-portgolio.png) no-repeat 0 0;
	margin-bottom: 30px;
}

.breadcrumbs {
	position: absolute;
	right: 0;
	top: -25px;
}

.naiming {
	margin-left: 0;
	margin-top: 25px;
}