.data-table {
	background: #f8f8f8;
	height: auto;
	width: auto;
	border-radius: 5px;
	border: none;
	box-shadow: 0 4px #e5e6e6;
}

.data-table th {
	font-weight: 800;
	font-size: 16px;
	color: #7f8c8c;
	background: #ececec;
	padding: 5px 15px;
	box-shadow: 0 3px #e5e6e6;
	border-right: 1px solid #ddd;
	text-align: left;
}

.data-table th:first-child {
	border-radius: 5px 0 0;
}

.data-table th:last-of-type {
	border-radius: 0 5px 0 0;
	border-right: none;
}

.data-table td {
	color: #777;
	font-size: 14px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #e5e6e6;
	padding: 10px 15px;
}

.data-table td:last-of-type {
	border-right: none;
}