.motivation-info {
	position: relative;
	box-sizing: border-box;
	width: auto;
	margin-bottom: 55px;
	max-height: 554px;
	text-align: center;
	background: url(./motivation-info-border.png) repeat-x 0 0;
	background-color: #ececec;
	background-clip: content-box;
	padding-bottom: 154px;
}

.motivation-info > .topbg {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
	width: 100%;
	background: url(./motivation-info-border.png) repeat-x 0 0;
	background-color: #ececec;
}

.motivation-info > .text-message {
	position: relative;
	top: 65px;
	color: #777;
	line-height: 1.6em;
}

.motivation-info .all-windows {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: auto;
	top: 125px;
}

.motivation-info > .text-message > h2 {
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 48px;
	font-size: 40px;
	color: #e1524b;
}

.motivation-info .front-window {
	position: relative;
	margin: auto;
	height: 360px;
	width: 570px;
	background: #c1c7c8;
	border-radius: 8px;
}

.motivation-info .front-window::before {
	position: absolute;
	left: 10px;
	top: 16px;
	content: '';
	height: 12px;
	width: 12px;
	background-color: #ececec;
	border-radius: 6px;
	box-shadow: 20px 0 #ececec, 40px 0 #ececec;
}

.motivation-info .front-window::after {
	position: absolute;
	right: 19px;
	top: 19px;
	content: '';
	height: 6px;
	width: 12px;
	background-color: #ececec;
	border-radius: 3px;
}

.motivation-info .front-window.transformed-left {
	position: absolute;
	left: -400px;
	transform: scale(0.65, 0.65);
	background: #b0b8b9;
}

.motivation-info .front-window.transformed-right {
	position: absolute;
	left: 400px;
	transform: scale(0.65, 0.65);
	background: #b0b8b9;
}

.motivation-info .image-wrapper {
	position: absolute;
	height: 310px;
	width: 560px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	margin: auto;
	color: #ececec;
	background: #7f8c8c;
	border-radius: 6px;
	text-align: center;
}

.motivation-info .transformed-left .image-wrapper,
.motivation-info .transformed-right .image-wrapper {
	background: #62b9b0;
}