ul.br_crumb-nav {
	list-style: none;
	font-size: 12px;
	color: #7f8c8c;
}

ul.br_crumb-nav li {
	display: inline;
}

ul.br_crumb-nav li+li:before {
	padding: 8px;
	color: #7f8c8c;
	content: "/\00a0";
}

ul.br_crumb-nav li a {
	color: #7f8c8c;
	text-decoration: none;
}

ul.br_crumb-nav li a:hover {
	color: #5d6666;
	text-decoration: underline;
}