.image-content {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	overflow: hidden;
	text-align: left;
}

.image-content > img {
	position: relative;
	height: auto;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
