.blog-post {
	position: relative;
	max-width: 870px;
	min-height: 690px;
	border-bottom: 3px solid #e5e6e6;
	margin-bottom: 40px;
}

.blog-post .blog-post-paragraph {
	margin-left: 100px;
}

@media (max-width: 850px) {
	.blog-post .blog-post-paragraph {
		margin-left: 0;
	}
	.blog-post .datum {
		display: inline-block;
		padding: 5px 10px;
		margin-top: -60px;
		margin-left: 0;
	}
	.blog-post .datum-month {
		font-size: 10px;
	}
	.blog-post .datum-date {
		font-size: 15px;
	}
	.blog-post .blog-post-link a {
		margin-left: 0;
	}
	.blog-post .blog-image-placeholder {
		margin-left: 0;
		margin-top: 45px;
		margin-bottom: 40px;
	}
}

.blog-post .datum {
	box-sizing: border-box;
	max-width: 70px;
	max-height: 73px;
	background-color: #fff;
	border-radius: 5px;
	border-bottom: 3px solid #e5e6e6;
	text-transform: uppercase;
	color: #7f8c8c;
	padding: 10px 15px;
}

.blog-post .datum-month {
	font-size: 20px;
}

.datum-date {
	display: block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
}

.blog-post .blog-image-placeholder {
	display: inline-block;
	margin-top: -70px;
	margin-left: 100px;
	width: 100%;
	border-bottom: 3px solid #e5e6e6;
}

.blog-post .blog-post-link a {
	text-decoration-line: none;
	margin-left: 100px;
}

.blog-post .blog-post-link::after {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 13px;
	margin-left: 10px;
	content: "";
	background: url(./arrow-blog.png) no-repeat 0 0;
}

.blog-article {
	position: absolute;
	top: 330px;
	height: auto;
}