.blog-post {
	position: relative;
	width: 870px;
	min-height: 590px;
	border-bottom: 3px solid #e5e6e6;
	margin-bottom: 40px;
}

.blog-post .blog-post-paragraph {
	margin-left: 100px;
}

.blog-post .datum {
	box-sizing: border-box;
	width: 70px;
	height: 73px;
	background-color: #fff;
	border-radius: 5px;
	border-bottom: 3px solid #e5e6e6;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	color: #7f8c8c;
	padding: 10px 15px;
}

.blog-post .datum-month {
	font-size: 20px;
}

.datum-date {
	display: block;
	font-style: normal;
	font-weight: 800;
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
}

.blog-post .blog-image-placeholder {
	position: absolute;
	top: 0;
	left: 100px;
	width: 770px;
	height: 300px;
	border-bottom: 3px solid #e5e6e6;
}

.blog-post .blog-post-link a {
	text-decoration-line: none;
	margin-left: 100px;
}

.blog-post .blog-post-link::after {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 13px;
	margin-left: 10px;
	content: "";
	background: url(./arrow-blog.png) no-repeat 0 0;
}

.blog-article {
	position: absolute;
	top: 330px;
	width: 800px;
	height: auto;
}